

#container {
  width: 502px;/*problems here with float if it doesn't have a couple extra pxls*/
  height: 500px;
  border: 1px solid red;
  margin: auto;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid blue;
    /*background-color: #333;*/
}

li {
  float: left;
  outline: 1px solid black;
  text-decoration: none;
  background-color: rgba(0, 170, 255, 0.2);
}

li:hover {

 background-color: rgba(0, 170, 255, 0.9);
 cursor: pointer;
}


/*.hovered {
   background-color: rgba(0, 170, 255, 0.9);
}*/
