

#container {
  width: 502px;/*problems here with float if it doesn't have a couple extra pxls*/
  height: 500px;
  border: 1px solid red;
  margin: auto;

  
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid blue;
    /*background-color: #333;*/
}

li {
      

  float: left;
  outline: 1px solid black;
  /*width: 50px;*/
  /*height: 50px;*/
  text-decoration: none;

}